<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>gallery</title>
      {% load static %}
</head>
<body>
<h1>gallery</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid atque dicta distinctio est totam! Accusamus dicta distinctio, eos esse est minima necessitatibus odit, praesentium quibusdam quos reiciendis repellendus voluptate voluptatem.</p>

<img src="{% static 'assets/resources/IMAGE 5.jpeg' %}" alt="">
<img src="{% static 'assets/resources/IMAGE 6.jpeg' %}" alt="">
<img src="{% static 'assets/resources/IMAGE 7.jpeg' %}" alt="">
<img src="{% static 'assets/resources/IMAGE 8.jpeg' %}" alt="">
<img src="{% static 'assets/resources/IMAGE 9.jpeg' %}" alt="">
</body>
</html>