<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>personal details</title>
      {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script> src= "{% static 'js/bootstrap.min.js' %}"</script>
</head>
<body>
<h1 class="text-danger text-center">product information</h1>
<p class="container mt-4"><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae expedita hic libero numquam provident quae, quam sint vel. Adipisci atque corporis deleniti doloremque error ipsum minus molestiae quibusdam repellat sint?</span><span>Asperiores expedita maiores minima neque nesciunt officiis perspiciatis reiciendis reprehenderit sequi voluptatem. Asperiores commodi et facilis, officia optio quam quidem sit voluptatibus! Consequatur culpa eos id ipsum magnam odio quis.</span><span>Aspernatur cum deleniti dolorum earum eius eos est explicabo, facilis fuga impedit in incidunt, inventore ipsam iusto magni molestias nisi numquam, porro recusandae reiciendis saepe sit sunt unde voluptas voluptatem.</span><span>Ab cupiditate, enim eveniet excepturi laborum neque nobis qui ratione sapiente voluptates? Ab blanditiis consectetur culpa deleniti deserunt doloremque eaque eligendi, error itaque nostrum numquam quas quibusdam, quos sed tempora.</span></p>

<table class="table table-striped table-hover table-success">
    <h2 class="text-center">PRODUCTS</h2>
    <tr>
        <th>PRODUCT ID</th>
        <th>PRODUCT NAME</th>
        <th>PRODUCT QUANTITY</th>
        <th>PRODUCT PRICE</th>
    </tr>
    <tr>
        <td>1</td>
        <td>laptop</td>
        <td>1</td>
        <td>ksh.35000</td>
    </tr>
    <tr>
        <td>2</td>
        <td>phone</td>
        <td>2</td>
        <td>ksh.64000</td>
    </tr>
    <tr>
        <td>3</td>
        <td>remote</td>
        <td>1</td>
        <td>ksh.4000</td>
    </tr>
    <tr>
        <td>4</td>
        <td>television</td>
        <td>1</td>
        <td>ksh.42000</td>
    </tr>
</table>
</body>
</html>